<li class="card-wrapper">
    <div class="card-container">
        <div class="card front">
            <div class="card-image" style="background-image: url('{{data.imageUrl}}');"></div>
            <ul class="card-properties">
                <li
                    ng-repeat="(prop, value) in data.cardDetails"
                    ng-click="chooseProperty(prop)"
                    class="value value-{{$index}} age">
                    {{prop}}: {{value}}
                </li>
            </ul>
        </div>
        <div class="card back"></div>
    </div>
</li>
