.card-directive {
    display: inline-block;
    vertical-align: top;
}

.card-wrapper,
.card {
    width: 390px;
    height: 600px;
}


.card {
    background-repeat: no-repeat;
    position: relative;
    font-family: "Comic Sans MS", cursive, sans-serif
}

.card-image {
    width: 327px;
    height: 260px;
    position: absolute;
    top: 84px;
    left: 23px;

    background-size: cover;
    background-repeat: no-repeat;
}

.card.front {
    background-image: url("../images/card-bg.png");
}

.card.back {
    background-image: url("../images/card-back.png");
}

ul {
    list-style: none;
}

.value {
    position: absolute;
    color: white;
    font-weight: bold;
    padding: 2px 9px;

    -webkit-transform:rotate(-3deg); /* Opera, Chrome, and Safari */
        -ms-transform:rotate(-3deg); /* IE 9 */
            transform:rotate(-3deg);

    text-transform: capitalize;
}

.my-go .value {
    cursor: pointer;
}

.my-go .value:hover {
    background: red;
}

#my-card .card.back {
    display: none;
}

.value-0 {
    top: 351px;
    left: 166px;
    width: 160px;
}

.value-1 {
    top: 381px;
    left: 178px;
    width: 160px;
}

.value-2 {
    top: 418px;
    left: 184px;
    width: 160px;
}

.value-3 {
    top: 455px;
    left: 191px;
    width: 160px;
}

.my-go-marker {
    color: white;
    background: red;
}

.scores-wrapper {
    position: fixed;
    top: 0;
    right: 0;
    padding: 25px;
}
