*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

@font-face {
    font-family: Oxygen;
    src: url('../fonts/Oxygen/Oxygen-Light.ttf');
    font-weight: lighter;
    font-style: normal;
}

@font-face {
    font-family: Oxygen;
    src: url('../fonts/Oxygen/Oxygen-Bold.ttf');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: Oxygen;
    src: url('../fonts/Oxygen/Oxygen-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}

html,
body {
    font-family: Oxygen;
    margin: 0;
    padding: 0;
    overflow: hidden;
    width: 100%;
    height: 100%;
    position: relative;
}

header {
    text-align: center;
}

footer {
    position: fixed;
    bottom: 0;
    background: black;
    width: 100%;
    margin: 0;
    padding: 10px;
    left: 0;
    color: white;
}

#game-wrapper {
    padding: 40px 10px 10px 10px;
}

#cards {
    margin: 0;
    padding: 0;
}

.card-directive {
    display: inline-block;
    vertical-align: top;
}

.status-directive {
    font-size: 0.7em;
}

.card-wrapper,
.card {
    overflow: hidden;
    width: 329px;
    height: 525px;
}


.card {
    background-repeat: no-repeat;
    position: relative;
}

.card-image {
    position: absolute;
    top: 60px;
    left: 15px;

    width: 327px;
    height: 260px;

    background-size: cover;
    background-repeat: no-repeat;
}

.card.front {
    background-image: url("../images/card-bg.png");
}

.card.back {
    background-image: url("../images/card-back.png");
}

ul {
    list-style: none;
}

.value {
    position: absolute;
    color: white;
    font-weight: bold;
    padding: 2px 9px;

    -webkit-transform:rotate(-3deg); /* Opera, Chrome, and Safari */
        -ms-transform:rotate(-3deg); /* IE 9 */
            transform:rotate(-3deg);

    text-transform: capitalize;
}

.my-go .value {
    cursor: pointer;
}

.my-go .value:hover {
    background: red;
}

#my-card .card.back {
    display: none;
}

.value-0 {
    top: 304px;
    left: 146px;
    width: 159px;
}

.value-1 {
    top: 336px;
    left: 183px;
    width: 123px;
}

.value-3 {
    top: 455px;
    left: 191px;
    width: 160px;
}

.my-go-marker {
    color: white;
    background: red;
}

#application-header {
    position: fixed;
    left: 0;

    width: 100%;

    padding: 5px;

    background: black;
    color: white;

    z-index: 1000;
}

#application-header {
    height: 40px;
    top: 0;
    padding: 10px;
}


.app-heading,
.my-id,
.scores-header {
    margin: 0;
}

.scores-directive {

}

.scores-header,
.scores-container,
.score-container {
    margin: 0;
    display: inline-block;
    vertical-align: top;
}

.app-heading,
.my-id {
    display: inline-block;
    vertical-align: top;
    font-size: 1em;
}

.score-container {
    text-align: center;
    position: relative;
    margin: 0 20px;
    font-size: 0.8em;
}

.score-header,
.score-value {
    display: block;
    margin: 0;
    width: 100%;
    text-align: center;
}
